#page-layout{
	/*max-width: 70%;*/
  	margin: auto;
  	background: white;
  	padding:0px;
}

.navbar{
	
	max-width: 100%;
	padding: 10px 54px 10px 54px;
	overflow: hidden;
}

#logo{
	
	float: left;
	height: 60px;
	width: 60px

}

.nav-button{

	border-radius: 80px;
	border: 3px solid #302f2f;
	color: #302f2f;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 100%;
	font-family: arial;
	float: right;

}

.nav-button:hover{

	background-color: #302f2f;
	color: white;

}

.header-content{
	
	margin: 12px;

}

.h1{
	
	margin-bottom: 0px;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-size: 72px;

}

.text{
	
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-size: 100%;
	font-weight: light;
	padding: 24px 0px 8px 0px;

}

#avatar{
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: auto;
	padding: 42px 0px 0px 0px;
}

.background{

	background-color: #4c4c4c;
	max-width: 200% !important;
	color: white;
	font-family: Helvetica Neue, arial;
	height: 450px;
	font-size: 100%;
	margin-top: -12px;
	margin-bottom: auto;


}

.background-content{

	max-width: 50%;
	text-align: center;
	padding: 64px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1em;
	line-height: 2;
	font-weight: 300;

}

#bg-img{
	
	display: block;
	width: 70%;
	height: auto;
	padding: 0px 0px 0px 0px;
	margin-left: auto;
	margin-right: auto;

}

.skill-section{

	text-align: center;


}

.column-ux{

	max-width: 50%;
	min-height: 750px;
	text-align: center;
	padding: 64px 0px 64px 0px;
	margin-left: auto;
	margin-right: 0px;
	margin-top: -100px;
	background-color: white;
	border-radius: 12px 0px 0px 12px;
	border-bottom-color:#e2e2e2;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-color: #e2e2e2;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 3px;
	border-left-color: #e2e2e2;
	box-sizing: border-box;
	display: inline-block;
	font-size: 1em;
	font-weight: 300;
	line-height: 24px;
	padding-bottom: 70px;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 70px;
	text-align: center;
	width: 400px;

}

.h2-column{

	text-align: center;
	font-family: Helvetica Neue, arial;
	font-size: 2em;
	font-weight: light;
	padding: 0px 0px 0px 0px;

}

.ul{

	list-style: none;
    margin-left: 0;
    margin-top: 0;
    text-align: center;
	font-family: Helvetica Neue, arial;
	font-size: 100%;
	font-weight: light;
	padding: 0px 0px 0px 0px;
}
.column-dev{

	max-width: 50%;
	min-height: 750px;
	text-align: center;
	padding: 64px 0px 64px 0px;
	margin-left: 0px;
	margin-right: auto;
	margin-top: -100px;
	background-color: white;
	border-radius: 0px 0px 0px 0px;
	border-bottom-color:#e2e2e2;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-color: #e2e2e2;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #e2e2e2;
	box-sizing: border-box;
	display: inline-block;
	font-size: 1em;
	font-weight: 300;
	line-height: 24px;
	padding-bottom: 70px;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 70px;
	text-align: center;
	width: 400px;
}

.column-pm{

	max-width: 50%;
	min-height: 750px;
	padding: 64px 0px 64px 0px;
	margin-left: auto;
	margin-right: 0px;
	margin-top: -100px;
	background-color: white;
	border-radius: 0px 12px 12px 0px;
	border-bottom-color:#e2e2e2;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-color: #e2e2e2;
	border-right-style: solid;
	border-right-width: 3px;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #e2e2e2;
	box-sizing: border-box;
	display: inline-block;
	font-size: 1em;
	font-weight: 300;
	line-height: 24px;
	padding-bottom: 70px;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 70px;
	text-align: center;
	width: 400px;

}

.recent-work{

	text-align: center;
	font-family: Helvetica Neue, arial;
	font-size: 100%;
	font-weight: light;
	padding: 54px 0px 24px 0px;
	margin-top: 42px;

}

.link{

	font-family: Helvetica Neue, arial;
	text-decoration: none;
	color: #a84343;
}

span.work1, span.work2, span.work3, span.work4, span.work5, span.work6{

	display: inline-block;
  	width: 100px;
  	height: 100px;
  	padding: 5px;

}

.work-section{

  margin-top: 42px;
  margin-bottom: 42px;
  width: 100%;
  height: auto;
  text-align: center;

}

.img-edits{

	max-width: 400px;
	height:auto;

}

.table{

	padding: 12px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 120px;
}

.work-button{

	border-radius: 80px;
	border: 3px solid #302f2f;
	color: #302f2f;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 100%;
	font-family: arial;
	margin-top: 52px;
	margin-bottom: 120px;

}

.work-button:hover{

	background-color: #302f2f;
	color: white;

}

.awesome-companies{

	border-top: 1px solid #E6ECF8;
    border-top-width: 1px;
    border-top-style: solid;
    text-align: center;
	font-family: Helvetica Neue, arial;
	font-size: 1em;
	font-weight: light;
	padding: 120px 0px 64px 0px;
	margin-top: 120px;
	margin-bottom: 42px;
}

.column-startup{

	max-width: 50%;
	min-height: 300px;
	text-align: center;
	padding: 64px 0px 64px 0px;
	margin-left: auto;
	margin-right: 0px;
	margin-top: -125px;
	background-color: white;
	border-radius: 12px;
	border-color:#e2e2e2;
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	display: inline-block;
	font-size: 1em;
	font-weight: 300;
	line-height: 24px;
	padding-bottom: 70px;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 70px;
	width: 400px;
	box-shadow: 0px 2px 8px #e2e2e2;

}
 .startup-img{

 	width: 50%;
 }


